body {
  margin: 0px;
  padding: 0px;
  background-color: #373747;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
}
#nav {
  display: flex;
}
.topper {
  width: 80px;
  height: 60px;
  margin: 2px;
  border: 1px solid rgb(249, 235, 235);
  background-color: #181822;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  top: 20px;
}
.icon {
  margin-bottom: 10px;
}
.icon2 {
  margin: 0px;
  font-size: 20px;
}
.topper:hover {
  background-color: #398139;
  border: none;
}
#bars {
  background-color: #373747;
  border: none;
  margin-left: 300px;
}
#cash,
#payment,
#save-file {
  width: 100px;
}
/* the above css code is for the top-section or nav */
#container {
  display: flex;
}
/* the check-out is for the left-side which will mainly be set to display-none at :default */
#check-out {
  width: 500px;
  border: 1px solid white;
}
/* the below code is for the food-items section */
#order-list {
  display: flex;
  flex-direction: column;
}
#items-list {
  display: flex;
  flex-wrap: wrap;
}
.food-list {
  height: 200px;
  width: 200px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}
input {
  width: 500px;
  height: 30px;
  background-color: #373747;
}
.bottom {
  height: 35px;
  width: 45px;
  border: 1px solid white;
}
.items-search {
  display: flex;
  align-items: center;
  justify-content: center;
}
#searcher {
  display: flex;
  justify-content: center;
  align-items: center;
}
